/* Color css */
body {	
    color: #666;
}
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{
    color: #191a1a;	
}
a{
    color: #222429;
}
a:hover {
	color:#e0a067;
}
*::-moz-selection {
    color: #888888;
}
::-moz-selection {
    color: #888888;
}
::selection {
    color: #888888;
}
::-moz-placeholder {
    color: #888888;
}
::-webkit-input-placeholder {
    color: #888888;
}
:-ms-input-placeholder {
    color: #888888;
}
::placeholder {
    color: #888888;
}
.blog-left-side .sub-menu li a:hover,
.blog-left-side .nav .children li a:hover {
    color: #18c8ff;
}
.defaultsearch button {
    color: #fff;
}
.blog-left-side .widget ul li a:hover,
.blog-left-side .widget ul li:hover::before{
    color: #e0a067;
}
.widget_categories ul li:hover:before,
.widget_archive ul li:hover:before,
.widget_categories ul li a:hover,
.widget_archive ul li a:hover,
.tagcloud a:hover,
.r-post-content h3:hover,
.r-post-content h3 a:hover {
    color: #e0a067;
}
.tagcloud a:hover,
table#wp-calendar td#today,
table#wp-calendar td#today a{
	color:#fff;
}
blockquote code{
color: #555;
}
.gallery-caption {
	color: #707070;
}
.wp-block-cover p:not(.has-text-color) {
    color: #fff;
}
.wp-block-button a:not([href]):not([tabindex]){
	color:#fff;
}
.wp-block-button.is-style-outline a:not([href]):not([tabindex]){
	color:#333;
}
.post-password-form input[type=submit] {
	color:#fff;
}
.site-title,
.site-title a,
.site-title a:hover,
.site-description {
	color:#5b5d62;
}
.mean-container .mean-nav ul li li a {
	color: #17161a;
}
.psylogy_menu > ul > li > a {
    color: #272727;
}
.psylogy_menu > ul > li.current > a,
.psylogy_menu > ul > li:hover > a,
.creative_header_menu > ul > li:hover > a {
    color: #e0a067;
}
.psylogy_menu ul .sub-menu li:before,
.psylogy_menu ul .sub-menu li a {
	  color: #272727;
}
.psylogy_menu ul .sub-menu li:hover:before,
.psylogy_menu ul .sub-menu li:hover > a,
.psylogy_menu ul .sub-menu .sub-menu li:hover > a,
.psylogy_menu ul .sub-menu .sub-menu .sub-menu li:hover > a,
.psylogy_menu ul .sub-menu .sub-menu .sub-menu .sub-menu li:hover > a {
    color: #e0a067;
}
.psylogy_nav_area.prefix .psylogy_menu > ul > li > a {
    color:#fff;
}
.psylogy_nav_area.prefix .psylogy_menu > ul > li.current > a {
    color: #e0a067;
}
.heading_style_2 .psylogy_menu > ul > li > a {
    color: #fff;
}
.heading_style_3 .psylogy_menu > ul > li > a {
    color: #fff;
}
.heading_style_4 .psylogy_menu > ul > li > a {
    color: #fff;
}
.heading_style_5 .psylogy_menu > ul > li > a {
    color: #fff;
}
.witr_shop_sc a.cart-contents {
	color: #fff;   	
}
.main_menu_header_icon i{
    color: #e0a067;
}
.main_menu_header_address_text h3{
    color: #e0a067;	
}
.prefix .main_menu_header_address_text h3,
.prefix .main_menu_header_address_text h4 a,
.prefix .main_menu_header_icon i {
    color: #fff;
}
.hmenu_box_style.hbg2 .psylogy_menu > ul > li > a {
    color: #fff;
}
.right_sideber_menu i {
    color: #272727;
}
.witr_search_wh .prefix  .em-header-quearys .em-quearys-menu i,
.psylogy_nav_area.prefix .right_sideber_menu i{
    color: #fff;
}
.prefix .right_close_class .right_sideber_menu i,
.right_close_class .right_sideber_menu i {
    color: #e0a067;	
}
.right_sideber_menu_inner .psylogy-description-area .social-icons a:hover{
    color: #fff;
}
.right_sideber_menu_inner  .psylogy-description-area .phone a {
    color: #333;
}
.witr_search_wh .em-header-quearys .em-quearys-menu i {
    color: #272727;
}
a.dtbtn,.btn {
    color: #fff;
}
.btn.btn-bordered {
    color: #e0a067;
}
.btn.btn-bordered:hover {
    color: #fff;
}

.em-quearys-menu i,.top-form-control input {
    color: #fff;
}
.top-form-control input::-webkit-input-placeholder {
    color: #fff;
}
.top-form-control input::-moz-placeholder {
    color: #888888;
}
.top-form-control input:-ms-input-placeholder {
    color: #888888;
}
.top-form-control button.top-quearys-style {
    color: #fff;
}
 .single_team_list ul li i,
 .single_team_list ul li a i,
 .team_single_btn a{
     color: #fff;
}
.breadcumb-inner ul, .breadcumb-inner ul span a, .breadcumb-inner li, .breadcumb-inner li a, .witr_breadcumb_shop ul li span a{
	color:#fff;
}
.breadcumb-inner li a:hover{
    color: #e0a067;	
}
.psylogy-blog-meta-left a,
.psylogy-blog-meta-left span {
    color: #888888;
}
.psylogy-blog-meta-left i {
    color: #e0a067;
}
.psylogy-blog-meta-right a,
.psylogy-blog-meta-right span {
    color: #555555;
}
.readmore a:hover {
    color: #fff;
}
.psylogy-single-icon-inner a {	
    color: #17161a;		
}
.psylogy-single-icon a{
    color: #e0a067;	
}
.psylogy-single-icon a:hover,
.psylogy-single-icon-inner a:hover {
    color: #fff;
}
.paginations a,
.page-numbers span.current {
    color: #888;
}
.paginations a:hover,
.paginations a.current,
.page-numbers span.current {
    color: #fff;
}
.tutor-pagination-wrap a:hover,
.tutor-pagination-wrap span.page-numbers.current {
    color: #fff;
}
.reply_date span.span_right {
    color: #e0a067;
}
.comment_psylogy_btn {	
    color: #fff;	
}
.not-found-inner h2 {
    color: #e0a067;
}
.not-found-inner a {
    color: #606b82;
}
table#wp-calendar td#today a{
    color: #fff;
}
.top_address_content a,
.top_address_content span {
    color: #ffffff;
}
.footer-top-address h2 {
    color: #fff;
}
.footer-top-address h2 span {
    color: #e0a067;
}
.footer-top-inner h2 {
    color: #fff;
}
.footer-top-inner h2 span {
    color: #e0a067;
}
.footer-top-inner p {
    color: #fff;
}
.footer-social-icon a i {
    color: #fff;
}
.footer-social-icon a i:hover {
    color: #fff;
}
.footer-middle .widget ul li a:hover,
.footer-middle .widget ul li:hover:before {
    color: #e0a067;
}
.recent-post-text h4 a {
    color: #17161a;
}
.recent-post-text h4 a:hover {
    color: #e0a067;
}
.footer-middle .recent-post-text > h4 a:hover {
    color: #e0a067;
}
.footer-widget.address,
.footer-widget.address p {
color:#ffffff;
}
.footer-middle .widget ul li a{
	color: #ffffff;	
}
.copy-right-text a {
    color: #e0a067;
}
.copy-right-text a:hover,
.footer-menu ul li a:hover {
    color: #e0a067;
}
#scrollUp i {
    color: #fff;
}
.mini_shop_content a i {
	color:#e0a067;
	 background: #fff;
}
.mini_shop_content a span.count {
    background: #e0a067;
    color: #fff;
}
.twr_mini_cart .widget_shopping_cart {
    background: #fff;
}
.top-welcomet p span,
.top-welcomet p a,
.top-welcome p span,
.top-welcome p a,
.top-welcome p,
.top-address p a,
.top-right-menu ul.social-icons li a,
.top-address p span {
    color: #fff;	
}
.top-welcome p span i,
.top-welcomet p span i,
.top-address p span i,
.top-address p a i {
    color: #fff;
}
.top-welcome p a:hover{
	color:#17161a;	
}
.top-right-menu .social-icons li a:hover,
.top-right-menu .social-icons li a i:hover {
    color: #17161a;
}
.creative_header_icon i {
    color: #e0a067;
}
.creative_header_address_text > p > a {
   color:#999;	
}
.creative_header_button .dtbtn {
    color: #fff;
}
.tx_menuc_btn .tx_mc_btn {
    color: #fff;
}
.tx_menuc_btn .tx_mc_btn:hover{
	color: #fff;
}
.top_crmenu_i_list li a i{
    color: #e0a067;	
}
.top_crmenu_i_list li a i:hover{
	color:#fff;
}
.top_crmenu_l li a {
	    color: #fff;
}
.top_crmenu_l li li a{
	color:#fff;	
}
.top_crmenu_l li li a:hover{
	color:#006ff9;
}
.top_crt_style i{
	color:#fff;
}
.top_crt_style h3{
	color:#fff;	
}
.top_crt_style .site-title a,
.top_crt_style p,
.top_crt_style p a{
	color:#fff;
}
.top-welcomet p{
	color:#fff;
}
.top-address.cr_top_addess p a,
.top-address.cr_top_addess p span {
    color: #fff;	
}
.top-address.cr_top_addess p span i,
.top-address.cr_top_addess p a i {
    color: #fff;
}


.post_reply h1,
.post_reply h2,
.post_reply h3,
.post_reply h4,
.post_reply h5,
.post_reply h6 {
    color: #303030;
}
.blog-content h2 a:hover {
    color: #e0a067;
}
.psylogy-blog-meta-left a,
.psylogy-blog-meta-left span {
    color: #888888;
}
.psylogy-blog-meta-left a:hover,
.psylogy-blog-meta-left span:hover {
    color: #e0a067;
}
.psylogy-blog-meta-left i {
    color: #e0a067;
}
.psylogy-blog-meta-right a,
.psylogy-blog-meta-right span {
    color: #555555;
}
.readmore a {
    color: #444;
}
.readmore a:hover {
    color: #fff;
}
.psylogy-single-icon-inner a {	
    color: #17161a;	
	
}
.psylogy-single-icon-inner a:hover {
    color: #fff;
}
.reply_date span.span_right {
    color: #e0a067;
}
.comment_field .input-field label,
.comment_field .textarea-field label {
    color: #606060;
}
.comment_field .input-field input,
.comment_field .textarea-field textarea {
    color: #555555;
}
.psylogy_btn {	
    color: #fff;	
}
.blog-page-title h2 a:hover {
    color: #e0a067;
}
 .mc4wp-form-fields input {
    color: #b0afaf; 
}
 .mc4wp-form-fields button {
    color: #fff;
}

.mc4wp-alert.mc4wp-error a, 
.mc4wp-alert.mc4wp-error p{
	color: #fff;	
} 
 
.mc4wp-form-fields input::-moz-placeholder {
   color: #888888;
}
.mc4wp-form-fields input::-webkit-input-placeholder {
   color: #888888;
}
 
/* mailchim 2 */
.footer-middle .mc4wp-form-fields input::-moz-placeholder {
 color: #888888;
} 
.footer-middle .mc4wp-form-fields input::-webkit-input-placeholder {
 color: #888888;
} 
 .footer-middle .mc4wp-form-fields p {
    color: #ffffff;

}
 .footer-middle .mc4wp-form-fields input {

}
 .footer-middle .mc4wp-form-fields button {
    color: #fff;
}
.footer-middle .mc4wp-form-fields button:hover {
    color: #e0a067;
}
 .footer-middle .checkbox_witr span{
 color:#fff;
 }
.witr_joined .witr_con_btn2 .w_btn2{
    color: #fff;
}
span.eleft {
    color: #1a2e2e;
}
.psylogy-description-area .social-icons a{
    color: #fff;	
}
.witr_sub_table span{
	color:#fff;
}
.right_popupmenu_area .witr_sub_table span{
	color:#272727;
}
.right_popupmenu_area .ittech-description-area p,
.right_popupmenu_area .ittech-description-area .phone a,
.right_popupmenu_area .footer-widget.address,
.right_popupmenu_area .footer-widget.address p {
    color: #17161a !important;
}
.shortcode_content h2{
    color: #fff;	
}
.shortcode_content p{
	color: #fff;	
}
.shortcode_content p a:hover{
	color: #18406b;	
}
.tutor-star-rating-group {
    color: #e0a067;
}
.tutor-course-loop-meta>div i {
    color: #e0a067;
}
.tutor-loop-author>div span {
	color: #272727;
}
.tutor-course-filter-form select {	
	color: #656565;
}
.tutor-course-archive-results-wrap strong {
    color: #fff;
}
.tutor-segment-title,
.tutor-single-course-segment .tutor-segment-title {
color: #272727;
}
.tutor-course-header-h1 {
    color: #272727;
}
.tutor-course-filter-wrapper>div:first-child label:hover,
.tutor-wrap nav.course-enrolled-nav ul li.active a{
	color:#e0a067;
}
.tutor-course-lesson h5 a,
.tutor-wrap nav.course-enrolled-nav ul li a,
.tutor-single-course-meta ul li.tutor-social-share button,
.tutor-single-course-meta.tutor-lead-meta ul li span,
.tutor-single-course-meta ul li span,
.tutor-course-loop-price>.price .tutor-loop-cart-btn-wrap a,
.tutor-course-loop-title h2 a{
	color: #272727;
}

 .witr_single_team_s a{
     color: #fff;
}
 .witr_single_team_s a:hover{
     color: #272727;
}
 .team_single_title h1 {
     color:#e0a067;
}
 .witr_single_team_s,
 .single_team_list ul li i,
 .single_team_list ul li a i{
     background: #e0a067;
}
.single_team_list ul li{
	 list-style:none;
}
 .single_team_list ul li i:hover, .single_team_list ul li a i:hover{
     background:#272727;
}
 .team_single_btn a{
     background: #e0a067;
}
 .team_single_btn a:hover{
     background: #1a2e2e;
}







/* Background css */
.box.wrapper {
    background: #fff;
}
*::-moz-selection {
    background: #4fc1f0;
}
::-moz-selection {
    background: #4fc1f0;
}
::selection {
    background: #4fc1f0;
}
.blog-left-side > div {
    background: #fff;
}
.defaultsearch {
    background: #f7f7f7;
}
.defaultsearch input {
  background: #f7f7f7;
}
.defaultsearch button {
    background: #e0a067;
}
.defaultsearch button:hover{
    background: #1a2e2e;	
}
.blog-left-side .widget select {
    background: #fff;
}
.tagcloud a:hover {
    background: #e0a067;
}
table#wp-calendar td#today{
	background:#e0a067 ;
}
pre {
    background: #f5f5f5;	
}
.wp-block-button__link {
    background: #e0a067;
}
.post-password-form input[type=submit] {
	background:#e0a067;
}
.mean-container .mean-nav {
    background: #e0a067;
}
.mean-container .mean-bar {
    background: #e0a067;
}
.psylogy_nav_area {
    background: #fff;
}
.psylogy_menu > ul > li > a:before, .psylogy_menu > ul > li.current > a:before {
  background: #ffb600;
}
.psylogy_menu ul .sub-menu {
    background: #fff;
}
.hbg2,
.prefix {
    background: #937553;
}
.witr_shop_sc a.cart-contents {
    background: #ff4a17; 	
}
.main_menu_address_a::before {
    background:#fbfbfb40;
}
.hmenu_box_style{
	background:#fff;
}
.right_sideber_menu_inner {
   background: #fff;
}
a.dtbtn {
    background: #e0a067;
    
}
a.dtbtn:hover{
	color:#fff;
}
.em-quearys-menu i {
    background: #e0a067;
}
.em-s-open{
   background: #000000e6 !important;	
	
}
.btn {
	background: #e0a067;
}
.btn.btn-bordered:hover {
    background: #e0a067;
}
.btn:active {
    background: #AC2925;
}

.breadcumb-blog-area {
    background: #f7f7f7;
}
/* .breadcumb-area {
    background: #f7f7f7;
} */
.psylogy-single-blog {
    background: #fff;
}
.psylogy-blog-thumb a:before {
    background: rgba(0, 0, 0, .7);
}
.readmore a:hover {
    background: #e0a067;
}
.psylogy-single-blog-details {
    background: #fff;
}
.psylogy-single-icon a:hover,
.psylogy-single-icon-inner a:hover {
    background: #e0a067;
}
.paginations a:hover,
.paginations a.current,
.page-numbers span.current {
    background: #e0a067;
}
a.page-numbers,
.page-numbers,
.tutor-pagination-wrap a,
.tutor-pagination-wrap span.page-numbers.current {
    background: #fff;	
}
.tutor-pagination-wrap a:hover,
.tutor-pagination-wrap span.page-numbers.current {
    background: #e0a067;
}
.commment_title h3:before {
    background: #e0a067;
}
.comments,
.comment-respond {
    background: #ffffff;
}
.comment_psylogy_btn {	
	background: #e0a067;
}
.comment_psylogy_btn:hover {
	background: #1a2e2e;
}
.not-found-area {
    background: #fff;
}
.psylogy-search-page{
	background:#fff;
}
.top-address-area {
    background: #111111;
}
.footer-top {
    background: #1b1919;
}
.footer-social-icon a i {
    background: #e0a067;
}
.footer-social-icon a i:hover {
    background: #1a2e2e;
}
.witrfm_area{
	background:#2d394b;
}
.footer-bottom:before {
    background:#ffffff61;
}
 .mc4wp-form-fields input {
    background: #fff;
}
 .mc4wp-form-fields button {
    background: #1a2e2e;
}
 .mc4wp-form-fields button:hover {
    background: #18406b;	 
 }
 .footer-middle .mc4wp-form-fields button {
    background: #e0a067;
}
.footer-middle .mc4wp-form-fields button:hover {
    background: #fff;
}
.witr_joined .witr_field2 .witr_form_field2 input{
    background: #fff;
}
.event-description {
	background: #fff;	
}
.psylogy-description-area .social-icons a{
    background: #a3a3a378;	
}
.psylogy-description-area .social-icons a:hover{
	background:#e0a067;
}
.witr_shortcode_inner{
	background:#e0a067;	
}
.witr_amar_table table th{
	background:#e0a06730;
}
.tutor-course-loop-level {
    background: #e0a067;
}
.txw  span.tutor-text-avatar {
    background: #e0a067;
}
.tutor-course-archive-results-wrap strong {
    background: #e0a067;
}
a.dtbtn:hover,
.witr_btn:hover,
.psylogy_button a:hover{
	background:#2d394b;
}
#scrollUp {
    background: #e0a067;
}

.psylogy-header-top {
    background: #e0a067;
}
.top-right-menu ul .sub-menu {
    background: #e0a067;	
}
.em_creative_header {
    background: #f9f9f9;
}
.em_creative_header:before,
.em_creative_header:after,
.creative_header_button:before,
.creative_header_button .dtbtn,
.creative_header_button > a:hover {
    background: #e0a067;
}
.tx_menuc_btn .tx_mc_btn {
    background: #006ff9;
}
.tx_menuc_btn .tx_mc_btn:hover{
	 background: #131414;
}
.top_crmenu_i_list li a i{
    background: #ffffff5e;	
}
.top_crmenu_i_list li a i:hover{
	background:#006ff9;
}
.top_crmenu_l ul,
.top_crt_style{
    background: #e0a067;
}
.em_slider_social a {
    background: #e0a067;
    border: 1px solid #e0a067;
}
.em_slider_social a:hover {
    background: #e0a067;
    border-color: #e0a067;
	color: #fff;
	
}
.footer-menu ul li a{
	color: #ffffff;
}
/* color */
.tbd_product .thb_product_car a {
    color: #17161a;
}
.thb_product_car a.added_to_cart:hover:before {
    color: #fff;
}
.woocommerce span.tbd_sale_inner{
    color: #fff;
}
.woocommerce span.onsale.onsingle_sale.tbd_sale_inner{
    color: #fff;
}
.tbd_product_title span a {
    color: #655d5d;
}
.tbd_product_title h2 a:hover,
.tbd_item_info a:hover{
	color:#e0a067;
	
}
.woocommerce .products .star-rating,
.woocommerce .star-rating {
    color: #ffc107;
}
.woocommerce p.stars a{
color: #ffc107;	
}
.woocommerce-info::before,
.woocommerce div.product p.price, 
.woocommerce div.product span.price {
    color: #e0a067;
}
ul.tx_product_tab.nav li a {
    color: #333;
}
ul.tx_product_tab.nav li a.active {
    color: #fff;
}
.woocommerce div.product form.cart .button{
    color: #ffffff;	
}
.woocommerce div.product .stock {
    color: #e0a067;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a{
	color:#fff;
}
.woocommerce table.witr_product_cart tbody tr td a{
	color:#555555;
}
.woocommerce table.witr_product_cart tbody tr td a.witr_cart_delete{
color:#e0a067;
}
.woocommerce .witr_product_cart .coupon input.input-text{}
.woocommerce .witr_product_cart .coupon input[type="hidden"]{}
.woocommerce .witr_product_cart .coupon button{}
.woocommerce .witr_product_cart button.button:disabled,
.woocommerce .witr_product_cart button.button:disabled[disabled],
.woocommerce .witr_product_cart button,
.woocommerce .witr_cart_to_cross a.checkout-button.alt,
.woocommerce .witr_checkout_form button.button.alt,
.woocommerce  a.button.wc-backward,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button{
    color: #fff;
}
.woocommerce .witr_cart_to_cross a.checkout-button.alt:hover,
.woocommerce .witr_product_cart button:hover,
.woocommerce  a.button.wc-backward:hover,
.woocommerce .witr_checkout_form button.button.alt:hover
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce a.button:hover{
    color: #FFF;	
}
.woocommerce-message::before{
color: #e0a067;		
}
.witr_cart_to_cross .cart_totals > h2{
    color: #fff;
}
.witr_checkout_form .witr_ck_blling h3, 
.witr_checkout_form h3#order_review_heading,
h2.woocommerce-order-details__title{
    color: #fff;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    color: #43454b;
}
nav.woocommerce-MyAccount-navigation ul li.is-active a {
  color: #fff;
}
.woocommerce-MyAccount-content a{
	color:#e0a067;
}
.woocommerce-column__title {
	color:#fff;
}
.widget_product_search button {
    color: #fff;
}
.witr_breadcumb_shop li a {
 
}
.witr_cat_content a {
    color: #e0a067;
}




/* bgcolor */

.tbd_product .thb_product_car a {
    background: #e0a067;
}
.thb_product_car a.added_to_cart:hover:before,
.woocommerce span.tbd_sale_inner,
.woocommerce span.onsale.onsingle_sale.tbd_sale_inner,
.woocommerce div.product form.cart .button,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: #e0a067;
}
h2.woocommerce-loop-category__title {
    background: #fafcfe;
}
mark.count {
    background: #fafcfe;
}
.woocommerce .witr_product_cart{}
.woocommerce .witr_product_cart button.button.alt,
.woocommerce .witr_product_cart input.button.alt{
	background: #72A40D; 	
}
.woocommerce .witr_product_cart button.button.alt:hover, 
.woocommerce .witr_product_cart input.button.alt:hover {
	background: #034997; 
}
.woocommerce .witr_product_cart .coupon input.input-text{}
.woocommerce .witr_product_cart .coupon input[type="hidden"]{}
.woocommerce .witr_product_cart .coupon button{}
.woocommerce .witr_product_cart button.button:disabled,
.woocommerce .witr_product_cart button.button:disabled[disabled],
.woocommerce .witr_product_cart button,
.woocommerce .witr_cart_to_cross a.checkout-button.alt,
.woocommerce .witr_checkout_form button.button.alt,
.woocommerce  a.button.wc-backward,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button{
    background: #e0a067;
}
.woocommerce .witr_cart_to_cross a.checkout-button.alt:hover,
.woocommerce .witr_product_cart button:hover,
.woocommerce  a.button.wc-backward:hover,
.woocommerce .witr_checkout_form button.button.alt:hover
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce a.button:hover{
    background: #000;	
}
.woocommerce-account  a.woocommerce-Button.button {
    padding: 14px 25px 18px;

}
.woocommerce .witr_product_cart .coupon button.button {
    padding: 9px 20px 12px;
}
.tbd_product .thb_product_car a {
    background: #ffffff;
    color: #0e0d0d;
}

.tbd_product .thb_product_car a:hover {
    background-color: #e0a067;
    color: #fff;
}
.witr_cart_to_cross .cart_totals > h2{
    background: #e0a067;
}
.tbd_product_title h2:hover,
.tbd_product_title h3:hover
{
   color: #e0a067;	
}
.witr_checkout_form .witr_ck_blling h3, 
.witr_checkout_form h3#order_review_heading,
h2.woocommerce-order-details__title{
    background: #e0a067;
}
.woocommerce-checkout.witr_checkout_form  #payment {
    background: #fbf9f9;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
   
}
nav.woocommerce-MyAccount-navigation ul li {
  background: rgba(0,0,0,0.05);
}
nav.woocommerce-MyAccount-navigation ul li.is-active {
  background: #e0a067;
}
nav.woocommerce-MyAccount-navigation ul li:not(.is-active):hover {
  background: rgba(0,0,0,0.07);
}
.woocommerce-column__title {
	background: #e0a067;
}
nav.woocommerce-MyAccount-navigation ul li a{
	color:#272727;
}
.content-widget .widget_price_filter .ui-slider .ui-slider-range,
.content-widget .widget_price_filter .ui-slider .ui-slider-handle,
.content-widget .widget_price_filter .ui-slider .ui-slider-handle,
.widget_product_search button {
    background: #e0a067;
}
.psylogy-single-blog {
    background: #fff;
}
.psylogy-blog-thumb a:before {
    background: rgba(0, 0, 0, .7);
}

.psylogy-single-blog-details {
    background: #fff;
}
.readmore a:hover,
.psylogy-single-icon a:hover,
.psylogy-single-icon-inner a:hover,
.commment_title h3:before,
.psylogy_btn {	
	background: #e0a067;	
}
.comment-respond {
    background: #ffffff;
}
.psylogy_btn:hover {
	background: #1a2e2e;
}
.twr_mini_cart .woocommerce.widget_shopping_cart .buttons a.checkout,
.twr_mini_cart .woocommerce.widget_shopping_cart .buttons a:hover,
.slick-prev,
.slick-next,
.slick-prev.slick-disabled,
.slick-next.slick-disabled,
.mini_shop_content a span.count {
    background: #e0a067;
}
.slick-dots li button {
 background: #e0a0675c;
}




/* Border Color Css */
.post_reply div.st a {
    color: #1a2e2e;
	font-weight: 500;
}
hr {
    border-bottom: 1px solid #eceff8;
}
hr.style-2 {
    border-bottom: 1px dashed #f10;
}
hr.mp-0 {
    border-bottom: 1px solid #eceff8;
}
hr.mtb-40 {
    border-bottom: 1px solid #eceff8;
}
.blog-left-side h2.widget-title::before{
    border: 1px solid #e0a067;
}
.blog-left-side .widget > ul > li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.blog-left-side .widget select {
    border: 1px solid #ddd;
}
.tagcloud a {   
    border: 1px solid #ddd;
}
table#wp-calendar td {
  border: 1px solid #e5e5e5;
}
table#wp-calendar th {
  border: 1px solid #e5e5e5; 
}
td {
    border-bottom: 1px solid #ededed;
}
.post-password-form input[type=password] {
    border: 1px solid #ddd;
}
.portfolio-details-box ul li{
    border-bottom: 1px solid #ddd;		
}
.sticky{
	border-color:#e0a067;
}
.top-form-control input {
    border-bottom: 3px solid #fff;
}
.tag-sticky-2 .psylogy-single-blog{
	border:1px solid #e0a067;
}
.readmore a {
    border: 1px solid #ddd;
}
.readmore a:hover {
    border-color: #e0a067;
}
.psylogy-single-icon-inner a {	
	border: 1px solid #e6e6e6;	
}
.psylogy-single-icon-inner a:hover {
    border-color: #e0a067;
}
.paginations a:hover,
.paginations a.current,
.page-numbers span.current {
    border-color: #e0a067;
}
.post_comment {
    border: 1px solid #f1f1f1;
}
.not-found-area {
    border-top: 1px solid #f5f3f3;
}
.search-error .search input {
    border: 1px solid #ddd;
}
.recent-Review-area .owl-dot{
	border-color:#fff;
}
.footer-middle .mc4wp-form-fields input {
 border: 1px solid #ffffff66;
}
.mc4wp-form-fields .witr_mail_From input{
	border: 1px solid #ddd;
}
.btn.btn-bordered {
    border: 2px solid #e0a067;
}
.psylogy-description-area .social-icons a:hover{
	border-color:#e0a067;
}
.witr_sub_table{
    border-bottom: 1px solid #ffffff8c;
}
.right_popupmenu_area .witr_sub_table{
    border-bottom: 1px solid #ddd;
}
.tutor-course-filter-form select {
	border-color: #e8e8e8;	
}
.top-right-menu ul .sub-menu {
    border-top: 1px solid #e0a067;	
}
.top_crmenu_l ul {
    border-top: 1px solid #006ff9;
}
ul.tx_product_tab.nav li a {
    border: 1px solid #e8e8e8;
}
ul.tx_product_tab.nav li a.active {
    border-color: #e0a067;
    background: #e0a067;
}
.tbd_single_image a.woocommerce-product-gallery__trigger {
    border: 1px solid #c3bcbc;
}
.woocommerce .quantity .qty {
    border: 1px solid #ddd;
}
#review_form_wrapper .comment-form input{
	border: 1px solid #f6f6f6;
}
.woocommerce #review_form #respond textarea {
    border: 1px solid #f6f6f6;
}
.woocommerce table.witr_product_cart thead tr th,
.woocommerce table.witr_product_cart tbody tr td{
	    border: 1px solid #faf6f6;
}
.woocommerce .witr_product_cart .coupon input{
    border: 1px solid #ddd;
}
.woocommerce-message,
.woocommerce-info{
 border-top-color: #e0a067;	
}
.woocommerce .witr_cart_to_cross table.shop_table tbody tr.order-total th,
.woocommerce .witr_cart_to_cross table.shop_table tbody tr.order-total td{
	border-top:1px solid #ddd;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
   border:solid 1px #e4e4e4;
}
.woocommerce form .form-row.woocommerce-invalid .select2-container, 
.woocommerce form .form-row.woocommerce-invalid input.input-text, 
.woocommerce form .form-row.woocommerce-invalid select {
    border-color: #e0a067;
}
nav.woocommerce-MyAccount-navigation ul li {
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
nav.woocommerce-MyAccount-navigation ul li.is-active:after {
  border-top: 20px solid transparent;
  border-left: 14px solid #e0a067;
  border-bottom: 20px solid transparent;
}
nav.woocommerce-MyAccount-navigation ul li:not(.is-active):hover:after { 
  border-top: 20px solid transparent;
  border-left: 14px solid rgba(0,0,0,0.07);
  border-bottom: 20px solid transparent;
}
#customer_login form.login, 
#customer_login form.register {
    border: 1px solid #f0f0f0;
}

.search-field {
    border: 1px solid #ddd;
}
.tag-sticky-2 .psylogy-single-blog{
	border:1px solid #e0a067;
}
.readmore a {
    border: 1px solid #ddd;
}
.readmore a:hover {
    border-color: #e0a067;
}
.psylogy-single-icon-inner a {	
	border: 1px solid #e6e6e6;	
}
.psylogy-single-icon-inner a:hover {
    border-color: #e0a067;
}
.post_comment {
    border: 1px solid #f1f1f1;
}
.comment_field .input-field input {
    border: 1px solid #e5e5e5;
}
.comment_field .input-field input[type="text"] {}
 .comment_field .input-field input[type="email"] {}
 .comment_field .textarea-field textarea {
    border: 1px solid #e5e5e5;
}

.twr_product_sidebar > div {
    border: 1px solid #eee;
}
.twr_product_sidebar a {
    color:#555555;
}
.twr_product_sidebar h2.widget-title {

	    background-color: #f2f2f2;
}
.entry-summary span.posted_in a, .entry-summary span.tagged_as a {
	color:#555555;
}
a#cancel-comment-reply-link{
	color: #e0a067;
}
.slick-dots li.slick-active button {
 background: #e0a067;
}
.twr_pretwr_loader_pre .twr_animation .twr_circle_pre {
    border-top-color: #e0a067;
    border-bottom-color: #e0a067;	
}

.twr_pretwr_loader_pre .twr_animation .twr_text_pre .twr_textletter_pre:before {
	color: #e0a067;
}

.tx_golobal_color{
	  background: #e0a067;	   
}
.tx_btn_global_color:hover{
	background:#1a2e2e;
}